body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.game-area {
    margin-top: 20px;
}

#question-box {
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#answer {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}

#submit-btn {
    background-color: #555;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.2s, transform 0.2s;
}

#submit-btn:hover {
    background-color: #666;
    transform: scale(1.05);
}


#question-box, #game-animation {
    width: 50%; /* or any specific width you prefer */
    margin: auto; /* Centers the box */
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#game-animation img {
    width: 100%;  /* Makes the image take up 100% of the game-animation div's width */
    height: auto; /* Scales the height automatically to maintain the aspect ratio */
    display: block; /* Ensures there are no unwanted margins around the image */
}
